/* CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
button{ font: inherit; background-color: transparent; border: none;}
a {color: inherit; text-decoration: none;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
select { -webkit-appearance: initial; text-rendering: auto; color: inherit; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: unset; text-shadow: none; display: inline-block; text-align: unset; white-space: normal; background-color: transparent; cursor: default; margin: 0; font: inherit; border-radius: 0; border: none; font-size: inherit; }
*:focus{	outline: none;}
input[type=text]{ border: none; font: inherit; color: inherit; resize: none; line-height: 1rem; }
html{scroll-behavior: smooth;}
*{box-sizing: border-box;}
abbr{text-decoration: none;}

/*constants*/
:root{
  --sqrt-2: 1.4142135623730950488016887242097;
  --din-a-4-height-in-cm: 29.3;
  --din-a-4-width-in-cm: 21;}

html{ font-family: 'Roboto', Roboto, sans-serif; }
.buttonlike, #mobile-fab{ font-family: 'Karla', Karla, Verdana, Geneva, sans-serif;}

/* CV-internal styles, should be independent of the rest of the site due to printing*/

#cv-container {
--a4-cm: calc(var(--cv-base-unit) / var(--cv-calculation-side-length));
--cv-height: calc(var(--din-a-4-height-in-cm) * var(--a4-cm));
--cv-width: calc(var(--din-a-4-width-in-cm) * var(--a4-cm));}

#cv{
  background-color: white;
  font-size: calc(0.4 * var(--a4-cm));
  padding: calc(2.5 * var(--a4-cm));
	display: grid; }

.cv-orderable-list{
	display: flex;
	flex-flow: column nowrap; }

/* CV minor formatting */

.date.end::before{
  content: " - "; }
.phone span:not(:last-child){
	margin-right: 0.5ch; }
.location > span:not(:last-child)::after{
	content: ", "; }
.language{
	margin-right: 1ch; }

/* CSS-Based hiding and orderingof things based on preset */

#cv[data-purpose="webdev"] .hideable:not(.show-webdev),
#cv[data-purpose="translation"] .hideable:not(.show-translation),
#cv[data-purpose="expanded"] .hideable:not(.show-expanded){
	display: none; }
#cv[data-purpose="translation"] .cv-orderable-list li.list-nat-lang{order: -10;}
#cv[data-purpose="webdev"] .cv-orderable-list li.list-code-lang{order: -10;}

/* CSS CV Themes */

/* Traditional Theme */

#cv[data-theme="traditional"]{
	display: block;
	font-family: Baskerville, 'Hoefler Text', 'Times New Roman', Times, serif;
	font-size: calc(0.4 * var(--a4-cm));
	--medium-emphasis-grey: rgba(0,0,0,0.75);
	--low-emphasis-grey: rgba(0,0,0,0.5);
	color: var(--medium-emphasis-grey);}
#cv[data-theme="traditional"] header.cv-section{
	font-size: 3.3em;
	color: black;
	margin-bottom: 0.2em;}
#cv[data-theme="traditional"] .cv-section{
	display: block;
	line-height: 1.2;
	margin-bottom: 1.5em;
}
#cv[data-theme="traditional"] .cv-subsection::after {
	/* clearfix */ display: block; content: ""; clear: both;}
#cv[data-theme="traditional"] .cv-section#contact{
	margin-bottom: 2em; }
#cv[data-theme="traditional"] .cv-section#contact>span{
	display: block; } /* Contact lines */
#cv[data-theme="traditional"] .cv-section > header{
	font-weight: bold;
	border-bottom: 0.1em solid var(--medium-emphasis-grey);
	margin-bottom: 1em;
	width: max-content;
	line-height: 1.5; }
#cv[data-theme="traditional"] .cv-subsection {
	margin: 0.75em 0 1.25em 0; }
#cv[data-theme="traditional"] .cv-subsection > div{
	float: left;
	margin-right: 0.5em; }
#cv[data-theme="traditional"] .cv-item-header {
  font-weight: bold;
	color: black; }
#cv[data-theme="traditional"] .cv-time-item, #cv[data-theme="traditional"] .cv-extra-item{
	color: var(--low-emphasis-grey); }
#cv[data-theme="traditional"] .cv-institution-item {
	clear: left; }
#cv[data-theme="traditional"] .cv-description-item {
	float: none;
	clear: left;
	margin-top: 0.5em;
	color: var(--medium-emphasis-grey); }
#cv[data-theme="traditional"] em{
	color: black; }

/* Blocky Theme */

#cv[data-theme="blocky"]{

}

/* Dynamic Theme */

#cv[data-theme="dynamic"]{

}

/* CSS hiding and formatting based on language */

#cv[lang="en"] [lang="de"], #cv[lang="de"] [lang="en"]{
  display: none; }
#cv[lang="en"] .area-code::before{
	content: "+49 "; }
#cv[lang="de"] .area-code::before{
	content: "0"; }

/* Default page layout */

@media not print{
	body, #cv-container, #options-container{
		height: 100vh;
		display: flex; justify-content: center; align-items: center;}

  body > #cv-container {
		min-width: calc(var(--cv-width) * 1.1);
		max-width: calc(var(--cv-width) * 1.2);
		max-height: 100vh;}

  #cv-container-inner{
		height: var(--cv-height);
		width: var(--cv-width);
    box-shadow: 0.3rem 0.8rem 3rem 0 rgba(0,0,0,.1);
    overflow-y: scroll;
		border-radius: calc(var(--cv-base-unit)/50);}

  body > #options-container {
    font-size: 1.7vh;
    max-width: 30em;
    line-height: 1;
    padding: 2em;}
		
  #options-container-inner{
    display: flex; flex-flow: column nowrap; justify-content: space-evenly;
		height: 100%;}

  .opt-header{
		margin: 1.5em 0;
    font-weight: 500;
    color: #333; }

  .button-container{
    display: flex; flex-flow: row wrap;
		margin-left: 0.5em;}

  .buttonlike{
		display: block;
		flex: 0 0 auto;
    margin: 0.25em;
    padding: 1em;
    min-width: 10ch;

		cursor: pointer;
		background-color: white;
		color: #555;
		border: 0.1em solid #ddd;
		border-radius: calc(1em + 1em/2);}

	/* Theme colors for the buttons */
	.buttonlike[value="translation"]{ --theme-hue: 350; } .buttonlike[value="webdev"]{--theme-hue: 193;} .buttonlike[value="all"]{ --theme-hue: 138; } .buttonlike[value="expanded"]{--theme-hue: 330;} .buttonlike[value="traditional"]{ --theme-hue: 115; }
	.buttonlike[value="blocky"]{--theme-hue: 0;} .buttonlike[value="dynamic"]{ --theme-hue: 293; } .buttonlike[value="en"]{ --theme-hue: 244; } .buttonlike[value="de"]{--theme-hue: 42;}
  .buttonlike.active{
		background-color: hsl(var(--theme-hue), 90%, 45%);
		border-color: hsl(var(--theme-hue), 90%, 40%);
		color: white;}
}


summary::-webkit-details-marker{
  color: #ddd;
}

/* Mobile layout */

#mobile-fab{ display: none; }
@media screen and (max-aspect-ratio: 21/28){
	body{
		display: block;}
	#cv-container{
		--cv-base-unit: 90vw;
		--cv-calculation-side-length: var(--din-a-4-width-in-cm);}
	body > #options-container{
		display: none;
		z-index: 1;
		position: absolute;
		top: 0; left: 0; margin: 0;
		width: 100vw; height: 100vh;
		background-color: white;
		padding: 3vh 6vw;
		max-width: none;}

	#options-container-inner{
		max-width: none;
		--total-distance-covered-by-fab: calc((3vh * 2) + 2.5vh + (2.5vh * 2 * 1.25)); /* bottom * 2 (for top spacing)+ font-size + font-size * 2 (top and bottom) * 1.25 padding size in em */
		max-height: calc(100vh - var(--total-distance-covered-by-fab));}

	#mobile-fab{
		display: block;
		position: absolute;
		z-index: 2;
		left: 50%; transform: translateX(-50%);
		bottom: 3.5vh;
		font-size: 2.5vh;
		padding: 1.25em 2em;

		--fab-hue: 278;
		background-color: hsl(var(--fab-hue), 90%, 45%);
		box-shadow: 0 0.4vh 1.2vh 0 rgba(0,0,0,.2);
		color: white;
    border: none;
    border-radius: calc(1.25em + 1em/2);}

	#mobile-fab.active{
		background-color: white;
		color: hsl(var(--fab-hue), 90%, 45%);
		box-shadow: none;}

	#mobile-fab.active::after{
		content: "X";}

	.visible{
			display: block !important;
		}}

/* Responsive design - not mobile layout */

@media screen and (min-aspect-ratio: 21/28) and (max-aspect-ratio: 23/20){
	#cv-container{
		--cv-base-unit: 58vw;
		--cv-calculation-side-length: var(--din-a-4-width-in-cm); }
	body > #options-container {
    font-size: 1.55vh;
		width: 35vw; } }
@media screen and (min-aspect-ratio: 21/28) and (max-aspect-ratio: 18/20){
	#cv-container{
		--cv-base-unit: 56vw;
		--cv-calculation-side-length: var(--din-a-4-width-in-cm); }
	body > #options-container {
		font-size: 1.7vw;
		width: 38vw; } }
@media screen and (min-aspect-ratio: 23/20){
	#cv-container{
		--cv-base-unit: 94vh;
		--cv-calculation-side-length: var(--din-a-4-height-in-cm); } }




/* Print styles */

@media print{
  #options-container{ display: none; }
  #cv{ --a4-cm: 1cm; } }

/* Font faces to end of document */

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/karla-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Karla'), local('Karla-Regular'),
       url('../fonts/karla-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/karla-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Karla Bold'), local('Karla-Bold'),
       url('../fonts/karla-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
}
