/* CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
button{ font: inherit; background-color: transparent;}
a {color: inherit; text-decoration: none;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
select { -webkit-appearance: initial; text-rendering: auto; color: inherit; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: unset; text-shadow: none; display: inline-block; text-align: unset; white-space: normal; background-color: transparent; cursor: default; margin: 0; font: inherit; border-radius: 0; border: none; font-size: inherit; }
*:focus{	outline: none;}
input[type=text]{ border: none; font: inherit; color: inherit; resize: none; line-height: 1rem; }
html{scroll-behavior: smooth;}
*{box-sizing: border-box;}
abbr{text-decoration: none;}

/*constants*/
:root{
  --sqrt-2: 1.4142135623730950488016887242097;
  --din-a-4-height-in-cm: 29.3;
  --din-a-4-width-in-cm: 21;
}

html{
  font-family: Roboto;
}
#mobile-fab{
	display: none;
}


  #cv, #cv-container-inner {
    --a4-cm: calc(94vh / var(--din-a-4-height-in-cm));
    height: calc(var(--din-a-4-height-in-cm) * var(--a4-cm));
    width: calc(var(--din-a-4-width-in-cm) * var(--a4-cm));}

#cv{
  background-color: white;
  font-size: calc(0.4 * var(--a4-cm));
  padding: calc(2.5 * var(--a4-cm));
	display: grid;
}

#cv[data-purpose="all"]{

}

#cv[data-purpose="webdev"] #boh, #cv[data-purpose="webdev"] #foodora,
#cv[data-purpose="translation"] #boh, #cv[data-purpose="translation"] #foodora{
	display: none;
}

#cv[data-purpose="translation"]{

}

#cv[data-theme="traditional"]{
	font-family: Baskerville, 'Hoefler Text', 'Times New Roman', Times, serif;
	font-size: calc(0.4 * var(--a4-cm));
	display: block;
		color: rgba(0,0,0,0.75);
}
#cv[data-theme="traditional"] header.cv-section{
	font-size: calc(1.3 * var(--a4-cm));
	color: black;
	margin-bottom: calc(0.3 * var(--a4-cm));
}
#cv[data-theme="traditional"] .cv-section{
	display: block;
	line-height: 1.2;
	margin-bottom: 1.5em;
}
#cv[data-theme="traditional"] .cv-subsection::after {
    display: block;
    content: "";
    clear: both;
}
#cv[data-theme="traditional"] .cv-section#contact{
	margin-bottom: 2em;
}
#cv[data-theme="traditional"] .cv-section#contact>span{
	display: block;
}

#cv[data-theme="traditional"] .cv-section > header{
	font-weight: bold;
	border-bottom: 0.1em solid rgba(0,0,0,0.75);
	margin-bottom: 1em;
	width: max-content;
	line-height: 1.5;
}

#cv[data-theme="traditional"] .cv-subsection {
	margin: 0.75em 0;
	margin-bottom: 1.25em;
}
#cv[data-theme="traditional"] .cv-subsection > div{
	float: left;
	margin-right: 0.5em;
}


#cv[data-theme="traditional"] .cv-item-header {
  font-weight: bold;
		color: black;
}
#cv[data-theme="traditional"] .cv-time-item, #cv[data-theme="traditional"] .cv-extra-item{
		color: rgba(0,0,0,0.5);
}
#cv[data-theme="traditional"] .cv-time-item {}
#cv[data-theme="traditional"] .cv-institution-item {
	clear: left;
}
#cv[data-theme="traditional"] .cv-extra-item {

}
#cv[data-theme="traditional"] .cv-description-item {
	float: none;
	clear: left;
	margin-top: 0.5em;

	color: rgba(0,0,0,0.75);
}
#cv[data-theme="traditional"] em{
	color: black;
}

#cv[data-theme="blocky"]{

}

#cv[data-theme="dynamic"]{

}

#cv[lang="en"] [lang="de"]{
  display: none;
}
#cv[lang="de"] [lang="en"]{
  display: none;
}

.cv-section{
  display: grid;
}

#cv[lang="en"] .area-code::before{
	content: "+49 ";
}
#cv[lang="de"] .area-code::before{
	content: "0";
}

.date.end::before{
  content: " - ";
}
.phone span:not(:last-child){
	margin-right: 0.5ch;
}
.location > span:not(:last-child)::after{
	content: ", ";
}
.language{
	margin-right: 1ch;
}
@media print{
  #options-container{
    display: none;
  }
  #cv{
    --a4-cm: 1cm;
  }
}

@media not print{
  body{
    display: flex;
    min-height: 100vh;
  }

  body > #cv-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
		align-items: center;
		min-height: 100vh;
  }
  #cv-container-inner{
    margin: 0 5%;
    box-shadow: 0.3rem 0.8rem 3rem 0 rgba(0,0,0,.1);
    overflow-y: scroll;
		border-radius: calc(94vh/50);
  }

  body > #options-container {
    font-size: 1.7vh;
		display: flex;
    flex: 1 1 auto;
    max-width: 30em;
    line-height: 1;
    margin: 2em 2em;
    justify-content: center;
		align-items: center;
		height: calc(100vh - 4em);
  }
  #options-container-inner{
    max-width: 25em;
    display: flex;
    flex-flow: column nowrap;
		justify-content: space-evenly;
		height: 100%;
		max-height: 60em;

  }
  #options-container  .opt-section {

  }

  .opt-header{
    font-weight: 500;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    color: #333;
  }
	/* .opt-header span, .buttonlike span{
		font-size: 1.3rem;
	} */

  .button-container{
    display: flex;
    flex-flow: row wrap;
    margin: 0.5em;
  }
  .buttonlike{
		background-color: white;
    font-family: Karla;
    flex: 0 0 auto;
    display: block;
    margin: 0.25em;
    padding: 1em;
    border-radius: calc(1em + 1em/2);
    border: 0.1em solid #ddd;
    min-width: 10ch;
		cursor: pointer;
    color: #555;
  }
	.buttonlike[value="translation"]{ --theme-hue: 350; }
	.buttonlike[value="webdev"]{--theme-hue: 193;}
	.buttonlike[value="all"]{ --theme-hue: 138; }
	.buttonlike[value="traditional"]{ --theme-hue: 115; }
	.buttonlike[value="blocky"]{--theme-hue: 0;}
	.buttonlike[value="dynamic"]{ --theme-hue: 293; }
  .buttonlike[value="en"]{ --theme-hue: 244; }
	.buttonlike[value="de"]{--theme-hue: 42;}
   .buttonlike.active{
		background-color: hsl(var(--theme-hue), 90%, 45%);
		border-color: hsl(var(--theme-hue), 90%, 40%);
		color: white;
  }

}

.visible{
	display: block !important;
}
@media screen and (max-aspect-ratio: 21/28){
	body{
		display: block;
	}
	body > #options-container{
		display: none;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: white;
		margin: 0;
		padding: 3vh 6vw;
		max-width: none;
	}
	#options-container-inner{
		max-width: none;
		max-height: 85vh;
	}
	#cv,#cv-container-inner{
		--a4-cm: calc(90vw / var(--din-a-4-width-in-cm));
	}
	#cv-container-inner{
		border-radius: calc(90vw/50);
	}
	#mobile-fab{
		z-index: 2;
		--theme-hue: 278;
		font-size: 1.25rem;
		background-color: hsl(var(--theme-hue), 90%, 45%);
		box-shadow: 0 0.25rem 0.75rem 0 rgba(0,0,0,.2);
		color: white;
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 3vh;
		font-family: Karla;
    display: block;
    margin: 0.25em;
    padding: 1.25em 2em;
    border-radius: calc(1.25em + 1em/2);
    border: none;
    min-width: 10ch;
    cursor: pointer;
	}
	#mobile-fab.active{
		background-color: white;
		color: hsl(var(--theme-hue), 90%, 45%);
		box-shadow: none;
	}
	#mobile-fab.active::after{
		content: "X";
	}

}


@media screen and (min-aspect-ratio: 21/28) and (max-aspect-ratio: 19/14){
	#cv, #cv-container-inner{
		--a4-cm: calc(60vw / var(--din-a-4-width-in-cm));
	}
	#cv-container-inner{
		border-radius: calc(60vw/50);
	}
	body > #options-container {
    font-size: 1.5vh;
		width: 20vw;
  }
}
@media screen and (min-aspect-ratio: 21/28) and (max-aspect-ratio: 14/14){
	#cv, #cv-container-inner{
		--a4-cm: calc(55vw / var(--din-a-4-width-in-cm));
	}
	#cv-container-inner{
		border-radius: calc(55vw/50);
	}
	body > #options-container {
		font-size: 1.40vh;
		width: 25vw;
	}
}
@media screen and (min-aspect-ratio: 15/14) and (max-aspect-ratio: 19/14){
	#cv, #cv-container-inner{
		--a4-cm: calc(94vh / var(--din-a-4-height-in-cm));
		height: calc(var(--din-a-4-height-in-cm) * var(--a4-cm));
		width: calc(var(--din-a-4-width-in-cm) * var(--a4-cm));
	}
	#cv-container-inner{
		border-radius: calc(94vh/50);
	}
}



summary::-webkit-details-marker{
  color: #ddd;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@531&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
