---
layout: default
og-title: Sam Swartzberg - Native German &#x21C4; English Translations.
title: Sam Swartzberg - Language, Natural and Formal.
description: Hey, I'm Sam Swartzberg, a freelance bilingual native German to English and English to German translator. Blurbs, copy, CSR, journalistic content and a whole lot more!
---
  <meta name="og:image" property="og:image" content="images/social-banner.png">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;750&family=Inter:wght@400;750&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
{% for lang in site.data.strings.index %}
  <div id="lang-wrapper" lang="{{lang.lang}}">
    <div class="language-switcher"></div>
    <div class="picture-in-picture">
      <div class="pip-inner">
        <div class="dance-pip"></div>
        <div class="name-pip">
          <div class="text-section-container">
            <h1>
              {{lang.site-header.h1.before-insert}}
              <span class="insert-name"></span><span class="cursor">|</span><span lang="en">
              {{lang.site-header.h1.after-insert}}
            </h1>
            <h2>{{lang.site-header.h2}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-fab-outer">
      <div class="fab-message">{{lang.fab.message}}</div>
        <div id="contact-fab">
          <a title="Send email." class="center-content-both" href="mailto:{{site.email}}">{{site.data.svgs.icons.send}}</a>
        </div>
      </div>
    <div class="main-container">
      <section id="intro">
        <div class="text-section-container">
          <h1>{{lang.site-header.h1.before-insert}}<span class="insert-name"></span>{{lang.site-header.h1.after-insert}}</h1>
          <h2>{{lang.site-header.h2}}</h2>
        </div>
        <div class="rest-intro center-content-horizontally">
          <div class="quicklink-container">
            {% for section in site.data.index-sections %}
              <a class="quicklink" data-target="{{section.quicklink.target}}">
                <div>
                  <div>
                    {{section.quicklink.pretty_name[lang.index]}}
                  </div>
                  {{site.data.svgs.icons[section.quicklink.svg_name]}}
                </div>
              </a>
            {% endfor %}
            </a>
          </div>
        </div>
      </section>
      <section id="translation" class="with-mockup app">
        <div class="text-section-container">
          <h1><span>{{lang.translate.header.h1}}</span>
            <div lang="{{lang.lang}}">
              <div class="language-selector-container center-content-horizontally">
                <select class="tl-topic-selector" title="{{lang.translate.header.topic-selector.title}}">
                  {% for topic in site.data.translate.blurbs %}
                    <option value="{{topic.topic}}" {% if topic.is_active %} selected {% endif %}>{{topic.versions[lang.index].pretty_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </h1>
          <h2>{{lang.translate.header.h2}}</h2>
        </div>
        <div class="mockup-container">
          <div class="mockup-border">
            <div class="mockup-header">
              <div>
                <div class="language-selector-container center-content-horizontally">
                  <select class="tl-lang-selector" title="{{lang.translate.body.lang-selector.title}}">
                    <option value="lang-en" selected>🇺🇸 {{lang.language-names.en}}</option>
                    <option value="lang-de" >🇩🇪 {{lang.language-names.de}}</option>
                  </select>
                </div>
              </div>
              <div class="original-translation-container">
                {% for selector in site.data.translate.selectors %}
                <div class="{{selector.type}}">
                  <div class="icon">
                    {{site.data.svgs.icons[selector.icon]}}
                  </div>
                  <div class="text">
                    <div class="hideable">
                      {{selector.pretty_name}}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="mockup-body">
              {% for topic in site.data.translate.blurbs %}
                <div class="topic {{topic.topic}} {{topic.is_active}}">
                  {% for version in topic.versions %}
                    <div class="lang lang-{{version.lang}} {{version.is_active}}" data-version="{{version.version}}">
                      {% for blurb in version.blurbs %}
                        <article><pre>{{blurb}}</pre></article>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <section id="code" class="with-mockup">
        <div class="text-section-container">
          <h1>Code.</h1>
          <h2>{{lang.code.header.h2}}</h2>
        </div>
        <div class="mockup-container">
          <div class="mockup-border">
            <div class="mockup-header">
              <div class="language-selector-container center-content-horizontally">
                <select class="code-selector" title="Code selector.">
                  <option value="js-code" selected>JS</option>
                  <option value="css-code">CSS</option>
                  <option value="html-code">HTML</option>
                </select>
              </div>
            </div>
            <div class="mockup-body">
              <div class="js-code active show-overflow">
                {% include index/code-mockups/js.html %}
              </div>
              <div class="css-code">
                {% include index/code-mockups/css.html %}
              </div>
              <div class="html-code">
                {% include index/code-mockups/html.html %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="about-me" class="with-mockup">
        <div class="text-section-container">
          <h1>{{lang.about-me.header.h1}}</h1>
          <h2>{{lang.about-me.header.h2}}</h2>
        </div>
        <div class="mockup-container">
          <div class="mockup-border">
            <div class="mockup-body">
              <div class="mockup-header">
                <h3>{{lang.about-me.header.h3}}</h3>
                <div class="photo-bubble">
                  <img class="headshot" src="/paper/media/profile-image.jpg" alt="A picture of Sam Swartzberg.">
                </div>
              </div>
              {% for para in lang.about-me.body.paras %}
                <p>{{para}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="text-section-container">
          <h1>{{lang.contact.header.h1}}</h1>
          <h2>{{lang.contact.header.h2}}</h2>
        </div>
        <div class="mockup-container app">
          <div class="mockup-border">
            <div class="mockup-header">
              <div class="header-line">
                <div class="header-line-inner">
                  <span class="name-desc">
                    {{lang.contact.body.from}}
                  </span>
                  <span class="insert-name"></span>
                </div>
              </div>
              <div class="header-line"><div class="header-line-inner"><span class="name-desc"><{{lang.contact.body.to}}</span><span> me@&shy;samswartzberg&shy;.com</span></div></div>
              <div class="header-line subject">
                <div>
                  <div class="header-line-inner">
                    <div class="name-desc">{{lang.subject}}</div>
                    <div class="language-selector-container subject-selector"><select class="mail-select" title="{{lang.contact.body.mail-select.title}}">
                      {% for email-template in site.data.email-templates %}
                        <option value="{{email-template.type}}">{{email-template.pretty_name[lang.index]}}</option>
                      {% endfor %}
                    </select></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="message-body">
<pre>
</pre>
            </div>
          </div>
        </div>
      </section>
      </div>
      
    </div>
  {% endfor %} 
  <script src="/assets/js/index/mailto-data.js"></script>
  <script src="/assets/js/index/mailto.js"></script>
  <script src="/assets/js/general.js"></script>
</body>
</html>
