/* CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
select { text-rendering: auto; color: inherit; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: unset; text-shadow: none; display: inline-block; text-align: unset; white-space: normal; background-color: transparent; cursor: default; margin: 0; font: inherit; border-radius: 0; border: none; font-size: inherit; }
*:focus{	outline: none;}
input[type=text]{ border: none; font: inherit; color: inherit; resize: none; line-height: 1rem; }

/* Styling general html elements */
a{ color: inherit; font-weight:bold; text-decoration: none;}
pre code { white-space: pre-wrap;}

/*Utility classes*/
.center-content-horizontally{ display: flex; flex-direction: column; justify-content: center; }
.center-content-both{ display: flex; justify-content: center; align-items: center; }

/*Children 100%*/

.mockup-container > div.mockup-border, #translation .mockup-body > div > div, .clickable-l-r, .clickable-l-r > div, .image-container, .image-container img{
	height: 100%;}
.clickable-l-r, .image-container img{	width: 100%;}

/*hide & seek*/
.image-container img, #code .mockup-body > div, #translation .mockup-body > div{ display: none; } .active{ display: block !important; }


/*Defining variables and base units*/

body{font-family: Inter, Helvetica, Arial, sans-serif;}
code{font-family: Inconsolata, monospace;}
.app .mockup-body{font-family: Nunito;}

body{font-size: 2.7rem; --big-font-size: 6rem; --small-font-size: 2.2rem;
	--text-line-height: 1.2em; --close-line-height: 1em;
	font-weight: 400; --bold-font-weight: 750; --slightly-bold-font-weight: 445;
	--big-border-radius: 1.5rem; --medium-border-radius: 1rem; --small-border-radius: 0.5rem;
}
code, #translation .mockup-body{font-size: var(--small-font-size);}
#translation .mockup-body{line-height:var(--text-line-height); }
h1{font-size: var(--big-font-size);font-weight: var(--bold-font-weight);}
h2{	line-height: var(--text-line-height);font-weight: var(--slightly-bold-font-weight);}
#contact .header-line .name-desc{ font-weight: bold; color: var(--deemphasize-font-color); }

body{--z-higher: 1; --z-top: 2;}

body{--page-side-padding: 7.5vw; --mockup-side-padding: 7.5vw; --generic-spacer: 5rem;}

body{
	--main-font-color: #000;
	--main-bg-color: #fff;
	--main-bg-darker: #eee;
	--slight-box-shadow: 0 0.25rem 0.75rem 0 rgba(0,0,0,.2);
	--main-box-shadow: 0.3rem 0.8rem 3rem 0 rgba(0,0,0,.1);
	--deemphasize-font-color: rgba(0,0,0,0.6);
	--transparent-white: rgba(255,255,255,0.6);
	--code-bg-color: #011627;
	--fab-color:  rgba(255, 0, 110, 1);}

body.dark-theme{
	--main-bg-color: #000;
	--main-font-color: #fff;}

body{
	color: var(--main-font-color);
	background-color: var(--main-bg-color);}

.main-container, section, .mockup-border, .mockup-body{ display: flex; flex-direction: column; }

/*Main layout*/

section{ padding: var(--generic-spacer) var(--mockup-side-padding);}

/* Text headers */
.text-section-container{ padding: 7rem 0 5rem 0;}
.text-section-container h1{ margin-bottom: 3rem; }

/* Mockups - general */
.mockup-container{
	height: 70rem;
	padding: 3.2rem var(--mockup-side-padding);}

.mockup-container > div.mockup-border{
	border-radius: var(--big-border-radius);
	box-shadow: var(--main-box-shadow);
	overflow: hidden;
	padding: 0 2.5rem;
}

.mockup-header{
	padding: 3rem 0;
}

.mockup-body{
	flex-grow: 1;
	padding-bottom: 3rem;}

.language-selector-container{
	display: flex;
	flex-direction: row;
  align-items: center;
	justify-content: left;
	--arrow-clickability-distance: 3rem;}

.mockup-header .language-selector-container select{
  padding-right: calc(var(--arrow-clickability-distance));
	box-sizing: border-box;
	font-weight: bold;
	text-align-last:center;
	z-index: var(--z-higher);}

.language-selector-container::after{
	margin-left: calc(-1 * var(--arrow-clickability-distance));
	display: block;
  content: ' ';
	margin-top: 0.2rem;
  background-image: url('triangle.svg');
	--triangle-size: 1.8rem;
  background-size: var(--triangle-size) var(--triangle-size);
  height: var(--triangle-size);
  width: var(--triangle-size);
}

/* Intro */

section:first-of-type > .text-section-container{
	padding-top: 20rem;
}

.quicklink-container{
	display: flex;
	flex-wrap: wrap;
}
.quicklink{
	display: block;
	box-shadow: var(--main-box-shadow);
	flex: 1 0 40%;
	margin: 3%;
	border-radius: var(--medium-border-radius);
	overflow: hidden;
}
a.quicklink .invertable{transition: fill 0.3s ease}
a.quicklink:hover {    transform: translateY(-0.5rem);}
a.quicklink:hover .invertable{/* TODO:  */}
a.quicklink:focus{}
a.quicklink:active{ /* TODO: invert */}
a.quicklink > div {
	padding: 10%;
	height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
a.quicklink > div > div:first-of-type{
	margin-bottom: 4rem;
}
.quicklink svg {
    width: var(--generic-spacer);
    height: var(--generic-spacer);
}

/* Translation*/

#translation .mockup-body p{
	padding-bottom: 2rem;
border-bottom: 0.4rem solid #ddd;
margin-bottom: 2rem;
}
#translation .mockup-body, #translation .mockup-body *{
	overflow: hidden;
}


/* Code */

#code .mockup-border{
	background: var(--code-bg-color);
	color: var(--main-bg-color);}
#code .mockup-body .js-code, #code .mockup-body .html-code{display: none;}
#code .html-code input{
	display: inline-block;

	margin: 0 0.3rem;
	padding: 0.3rem 0.6rem;
	border-radius: var(--small-border-radius);
	width: 14ch;

	background-color: rgba(255, 255, 255, 0.08);
	animation: pulseBG 3s linear infinite; }
@keyframes pulseBG {
	0%, 100%{ background-color: rgba(255, 255, 255, 0.11); }
	50%{ background-color: rgba(255, 255, 255, 0.05); }}

#code .html-code input:focus{
	border: 0.1rem solid var(--transparent-white);
	animation: none;
}

#code .language-selector-container::after{
	background-image: url('triangle-white.svg');
}

.clickme-bubble-container{
	display: flex;
	align-items: center;
}

.theme-changer {
	padding: 1rem;
	box-sizing: border-box;
	--arrow-size: 1rem;
	margin-left: calc(2 * var(--arrow-size));
	display: inline-block;
	position: relative;
	background: var(--main-bg-color);
	border-radius: var(--medium-border-radius);
	width: var(--generic-spacer);
	height: var(--generic-spacer);
	-webkit-animation: moveUpDown 2s linear infinite;
}
@keyframes moveUpDown{
	0%, 100%{ top: 0; } 25%{ top: 0.2rem; } 75%{ top: -0.2rem; } }

.theme-changer:after {
	content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: var(--arrow-size) solid transparent;
  border-right-color: var(--main-bg-color);
  border-left: 0;
  margin-top: calc(-1 * var(--arrow-size));
  margin-left: calc(-0.9 * var(--arrow-size)); /*prevent tiny line*/
}



/* Learning */

#learning .mockup-border{ position: relative; padding: 0;} .clickable-l-r{ position: absolute; display: flex; }
.clickable-l-r > div { width: 50%; }

.image-bubbles{
  position: absolute;
	width: 100%;
	height: 10vw;
	display: flex;
	bottom:1rem;
	justify-content: center;
	align-items: center;
}

.img-bubble{
	display: inline-block;
	height: 3vw;
	width: 3vw;
	margin: 3.5vw 1.2rem;
	background-color: rgba(255,255,255,0.4);
	border-radius: 1.5vw;
}
.img-bubble.active{
	background-color: #fff;
}
/* More */
#contact{ max-height: 73rem; overflow: hidden; }
#contact .header-line{
	margin-bottom: 2.5rem;
}
#contact .dummy-line{ background-color: var(--main-bg-darker);}
#contact .header-line.subject > div{ display: flex; }
#contact .header-line span.subject-bar{ display: block; margin-left: 1ch; flex-grow: 1; }
#contact .message-body span{ display: block; margin-bottom: .2em; }

#contact .message-body span:nth-of-type(1){width: 60%;}
#contact .message-body span:nth-of-type(2){width: 0%;}
#contact .message-body span:nth-of-type(3){width: 80%;}
#contact .message-body span:nth-of-type(4){width: 90%;}
#contact .message-body span:nth-of-type(5){width: 70%;}

/*FAB*/

#contact-fab{
	--fab-size: 14vw;
	width: var(--fab-size); height: var(--fab-size);
	border-radius: calc(0.5 * var(--fab-size));
	position: fixed;
	bottom: calc(var(--page-side-padding) + var(--mockup-side-padding) - (0.5 * var(--fab-size)));
	right: calc(var(--page-side-padding) + var(--mockup-side-padding) - (0.5 * var(--fab-size)));
	background-color: var(--fab-color);
	box-shadow: var(--slight-box-shadow);
	z-index: var(--z-top);
}
#contact-fab a{ width: inherit; height: inherit; }
#contact-fab svg{
	fill: var(--main-bg-color);
	width: 200px;
  height: 200px;
  padding: calc(0.28 * var(--fab-size));
}

/* @font-face { font-family: 'Inter'; src: local('Inter'), url('Inter.ttf') format('truetype'); unicode-range: U+000-5FF; }
@font-face { font-family: 'Inconsolata'; src: local('Inconsolata'), url('_Inconsolata.ttf') format('truetype'); unicode-range: U+000-5FF;  }
@font-face { font-family: 'Nunito'; src: local('Nunito'), url('Nunito-Regular.ttf') format('truetype'); unicode-range: U+000-5FF;  } */
