<article><pre><code>&lt;div class=&quot;main-container&quot;&gt;
  &lt;section id=&quot;intro&quot;&gt;
  &lt;div class=&quot;text-section-container&quot;&gt;
  &lt;h1&gt;<span class="important">Hi</span><input id="name-input" type="text"><span class="important">, I&#39;m Sam.</span>&lt;/h1&gt;
  &lt;h2&gt;I do things with language. Message me at &lt;a href=&quot;mailto:&quot;&gt;{{site.email}}&lt;/a&gt; or scroll to see more...&lt;/h2&gt;
  &lt;/div&gt;</code></pre></article>
  <article><pre><code>&lt;div class=&quot;rest-intro center-content-horizontally&quot;&gt;
  &lt;div class=&quot;quicklink-container&quot;&gt;</code></pre></article>